<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Home Page</title>
<style>
    .container {
        text-align: center;
    }
    table {
        margin: 0 auto;
    }
    td {
        padding: 10px;
        width: 200px;
        height: auto;
    }
</style>
</head>
<body>
<div class="container">
    <table>
        <tr>
            <td>
                <a href="@{/details/Aaron}"><img src="/Aaron.jpg" alt="Selfie"></a>
                <p>Aaron Omale</p>
            </td>
            <td>
                <a href="@{/details/Jorden}"><img src="/Jorden.jpg" alt="Selfie"></a>
                <p>Jordan Sidneydunu</p>
            </td>
            <td>
                <a href="@{/details/Dilraj}"><img src="/Dilraj.jpg" alt="Selfie"></a>
                <p>Dilraj Manj</p>
            </td>
        </tr>
    </table>
    <p>We are Group 2, We will try our best</p>
</div>

</body>
</html>