<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Home Page</title>
<style>
    .container {
        text-align: center;
    }
    .image {
        display: inline-block;
        margin: 10px;
        cursor: pointer;
    }
</style>
</head>
<body>
<div class="container">
    <div class="image">
        <a href=""><img src="staic/placeHolderImage.jpg" alt="Image 1"></a>
        <p>Aaron Omale</p>
    </div>
    <div class="image">
        <a href=""><img src="staic/placeHolderImage.jpg" alt="Image 2"></a>
        <p>Jordan Sidneydunu</p>
    </div>
    <div class="image">
        <a href=""><img src="staic/placeHolderImage.jpg" alt="Image 3"></a>
        <p>Dilraj Manj</p>
    </div>
    <p>We are Group 2, We will try our best</p>
</div>

</body>
</html>