<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Home Page</title>
<style>
    .container {
        text-align: center;
    }
    table {
        margin: 0 auto;
    }
    td {
        padding: 10px;
        width: 30px;
        height: 30px;
    }
    img{
        height: 200px;
    }
</style>
</head>
<body>
<div class="container">
    <table>
        <tr>
            <td>
                <a th:href="@{'/aaron'}"><img src="/Aaron.jpg" alt="Selfie" /></a>
                <h2>Aaron Omale</h2>
            </td>
            <td>
                <a href="@{/Jorden}"><img src="/Jorden.jpg" alt="Selfie"></a>
                <h2>Jordan Sidney-Dunu</h2>
            </td>
            <td>
                <a href="@{/Dilraj}"><img src="/Dilraj.jpg" alt="Selfie"></a>
                <h2>Dilraj Manj</h2>
            </td>
        </tr>
    </table>
    <h1>We are Group 2, We will try our best.</h1>
    <h1>Our Project is on a Inventory Management System that admins and regular employees can use</h1>
    <h1>We hope you enjoy using it</h1>
</div>

</body>
</html>